@import "~@angular/material/theming";

@include mat-core();

$mytheme-primary: mat-palette($mat-blue);
$mytheme-accent: mat-palette($mat-purple);
$mytheme-warn: mat-palette($mat-red);

$mytheme-theme: mat-light-theme(
  (
    color: (
      primary: $mytheme-primary,
      accent: $mytheme-accent,
      warn: $mytheme-warn
    )
  )
);

@include angular-material-theme($mytheme-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  display: block;
  margin: auto;
  padding: 20px;
}
